<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div>
        <input autocomplete="off" type="text" id="userName" placeholder="User Name">
        <input autocomplete="off" type="text" id="roomId" placeholder="Room Id">
        <button onclick = "joinCall();">Join Call</button><br><br>
        <button onclick = "generateRoom();">Generate Room</button>
        <button onclick = "initializeTestCall();" style="float: right;">Test Call</button>
    </div>
    <br>
    <hr>
    <div>
        <h1>PwC voice system integration process</h1>
        <div>
            <pre>
                <code>
                    &lt;body>
                        &lt;div id="main-streaming">&lt;/div>
                    &lt;/body>

                    <h3>CDN link</h3>
                    &lt;script src="http://localhost:4000/streaming/v1/voice-stream.js">&lt;/script>

                    <h3>Initialization</h3>
                    &lt;script
                        const roomID = "my-aud-call";
                        const userID = Math.floor(Math.random() * 10000) + "";
                        const userName = "userName" + userID;

                        const pwcAudio = PwcUIKitPrebuilt.create(roomID, userID, userName);
                        pwcAudio.joinRoom({
                            container: document.querySelector("#main-streaming"),
                        });
                    &lt;/script>
                    <h3>For call mute</h3>
                    &lt;script
                        pwcAudio.mute();
                    &lt;/script>
                    <h3>For call unmute</h3>
                    &lt;script
                        pwcAudio.unmute();
                    &lt;/script>
                    <h3>For call End</h3>
                    &lt;script
                        pwcAudio.endCall();
                    &lt;/script>
                </code>
            </pre>
        </div>
    </div>
</body>
<script>
    function initializeTestCall() {
        window.location.href = '/test';
    }

    function joinCall() {
        const userName = document.getElementById("userName").value;
        if (!userName) {
            alert("please enter username");
            return;
        }
        const roomId = document.getElementById("roomId").value;
        if (!roomId) {
            alert("please enter room id");
            return;
        }
        window.location.href = '/test?r='+roomId+"&u="+userName;
    }

    function generateRoom() {
        document.getElementById("roomId").value = makeRoomId(3) + "-" + makeRoomId(4) + "-" + makeRoomId(3);
    }

    function makeRoomId(length) {
        var result           = '';
        var characters       = 'ABCDabcdefghijklmnopqrstuvwxyz';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }
</script>
</html>